body{
    background-color: #E2E1E3;
    font-family: 'Lato', sans-serif;
    font-size: 1.65em;
}

h1, h2, h3, h4 {
    font-family: 'Cormorant Garamond', serif;
}

h3{
    color: green;
    font-weight: 700;
}

#hero{
    position: relative;
    color: white;
}

#hero h1{
    font-size: 7em;
    line-height: 90%;
    margin-bottom: 48px;
}

#hero h2{
    font-size: 4em;
}

#hero h3{
    font-size: 2.5em;
    margin-top: 18px;
    font-weight: normal;
    color: white;
}

#footer{
    background-color: #74b05d;
    height: 40px;
    margin-top: 40px;
    padding-top: 10px;
    font-size: 1.2em;
    text-align: right;
    color: white;
}

.hero-text{
    bottom:5%;
    left:5%;
    position: absolute;
    text-shadow: 1px 1px #666;
}

.hero-text-small h4{
    font-size: 1.5em;
    text-align: center;
    color: #328332;
}

strong {
    font-weight: 900;
}

.breathe{
    margin-bottom: 0px;
}

@media (min-width: 992px){
    .breathe{
        margin-bottom: 24px;
    }
}
