body {
    background-color: #E2E1E3;
    font-family: 'Lato', sans-serif;
    font-size: 1.65em;
    color: #444;
}

h1, h2, h3, h4 {
    font-family: 'Cormorant Garamond', serif;
    color: #69816F;
    font-weight: 700;
}

hr {
    margin: 0px 24px;
    border-top: 1px solid #77805c;
}

strong {
    font-weight: 900;
    color: #77805c;
}

#hero{
    position: relative;
    margin-top: 12px;
    font-weight: 400;
    color: white;
    text-align: right;
}

#hero h1{
    font-size: 7em;
    line-height: 90%;
    margin-bottom: 48px;
    font-weight: normal;
    color: white;
}

#hero h2{
    font-size: 3em;
    font-weight: normal;
    color: #eee;
}

#hero h3{
    font-size: 2em;
    margin-top: 0px;
    font-weight: normal;
    color: #eee;
}

#footer{
    margin-top: 20px;
    margin-bottom: 20px;
}

.hero-text{
    top:3%;
    right:4%;
    position: absolute;
    text-shadow: 1px 1px #666;
}

.hero-text-small h4{
    font-size: 1.4em;
    text-align: center;
    color: #666;
}

.first-line{
    margin: 24px -15px 12px -15px;
}

.details{
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.3em;
}

.btn-sage {
    border-color: #444;
    background-color: #9ebd9e;
    color: #444;
}

.btn-sage:hover {
    border-color: #444;
    background-color: #f1e8ca;
    color: #444;
}
